html,
body {
  display:flex;
  flex-direction: column;
  height:auto;
  min-width: 320px;
  width:100vw;
}

/*Side Navigation Bar Items*/
.side-nav-container {
  background: #354052;
  display:flex;
  flex-wrap: wrap;
  height:300px;
  width:100%;
}

.identity-container {
  align-items: center;
  color:#bac0c4;
  display:flex;
  flex-direction: column;
  height:50%;
  justify-content: center;
  width:100%;
}

.identity-container:hover {
  color:#FFF;
}

.identity-img {
  border-radius: 50%;
  height:80px;
  width: 80px;
}

.side-nav-main-container {
  align-items: center;
  display:flex;
  height:20%;
  justify-content: space-around;
  width:100%;
}

.side-nav-main-img-container {
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.side-nav-main-img,
.side-nav-admin-img {
  height:40px;
  width:40px;
}

.main-buttons,
.admin-buttons {
  color: #FFF;
  font-size: 70%;
  margin:0px;
}

.side-nav-admin-container {
  align-items: center;
  display:flex;
  height:30%;
  justify-content: center;
  width:50%;
}

.admin-buttons {
  display:none;
}

.side-nav-categories-container {
  align-items: center;
  display: flex;
  height:30%;
  justify-content: center;
  width:50%;
}

.category-buttons {
  color:#FFF;
  display:none;
  margin:0px;
}

.admin-hamburger-menu,
.category-hamburger-menu {
  background-image: url('images/hamburger.png');
  background-size: cover;
  height: 30px;
  width:30px;
}

.hamburger-container {
  align-items: center;
  color:#FFF;
  display:flex;
  flex-direction: column;
  height:100%;
  justify-content: center;
  width:100%;
}

.hamburger-title {
  font-size: 12px;
  margin: 5px 0 0 0;
}

.full-scale-lable {
  display: none;
}

/*Main Container Items*/
.main-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.search-container {
  display:flex;
  height:50px;
  justify-content: center;
  width:100%;
}

.search-input {
  width:100%;
}

.input-user-icon {
  display:none;
  height:50px;
  width:20%;
}

.job-title-container {
  display: flex;
  flex-direction: column;
  height:300px;
  width:100%;
}

.random-button-container {
  align-items: center;
  display: flex;
  height: 40%;
  justify-content: space-around;
  width:100%;
}

.random-button,
.open-button {
  border: 2px solid #838d95;
}

.random-button {
  border-radius: 50%;
  height:50px;
  width:50px;
}

.random-button:hover {
  border: 2px solid #10A3FA;
}

.open-button {
  background-color: #FFF;
  border-radius: 30px;
  height: 50px;
  width: 100px;
}

.open-button:hover {
  border: 2px solid #10A3FA;
}

.random-button-one {
  background-image: url('images/bookmark.png');
  background-size: cover;
}

.random-button-two {
  background-image: url('images/pencil-grey.png');
  background-size: cover;
}

.random-button-three {
  background-image: url('images/trash.png');
  background-size: cover;
}

.tabs-container {
  align-items: center;
  display:flex;
  flex-direction: column;
  width:100%;
}

.graphs-container {
  align-items: center;
  background: #EDF2F6;
  display: flex;
  flex-direction: column;
  height: 750px;
  justify-content: center;
  width:100%;
}

.circle-graph-and-button-container {
  text-align: center;
  width:55%;
}

.circle-graph-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0;
  width: 100%;
}

.circle-graph {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 10px;
  width: 100px;
}

.circle-graph-one {
  border: 6px solid #0099A1;
  border-bottom: 6px solid grey;
}

.circle-graph-two {
  border: 6px solid #10A3FA;
  border-bottom: 6px solid grey;
}

.circle-graph-three {
  border: 6px solid #b983c4;
  border-bottom: 6px solid grey;
}

.statistic {
  background-color: #FFF;
  border-radius: 30px;
  border: 1px solid #EDF2F6;
  line-height: 50px;
  padding:0 20px;
}

.job-description-container {
  background: #EDF2F6;
  display: flex;
  height: auto;
  justify-content: center;
  width:100%;
}

.job-description-box {
  background: #FFF;
  height: auto;
  width: 95%;
}

.job-description-heading-container {
  align-items: center;
  background: #5f686f;
  color:#FFF;
  display:flex;
  justify-content: center;
}

.job-description-button {
  align-items: center;
  background-color:#838d95;
  border-radius: 3px;
  border: 2px solid transparent;
  color:#FFF;
  display:flex;
  font-size: 25%;
  height:50%;
  margin-left: 29px;
  padding: 2px 10px;
}

.job-description-button:hover {
  border: 2px solid #10A3FA;
}

.job-description-edit {
  height:20px;
  width: 20px;
}

.description-container {
  align-items: center;
  border-bottom: 1px solid #EDF2F6;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.hiring-lead-img {
  border-radius: 50%;
  height:70px;
  width:70px;
}

.social-media-container {
  align-items: center;
  background: #EDF2F6;
  display: flex;
  flex-direction: column;
  height:auto;
  width:100%;
}

.social-link-container,
.widget-resume-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  height:auto;
  width: 90%;
}

.social-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  width: 100%;
}

.customer-service-heading-container {
  color:#5f686f;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.location-container {
  align-self: center;
  display: flex;
}

.location-pin {
  height:25px;
  width:25px;
}

.location-txt {
  line-height: 20px;
  margin:4px;
}

.preview {
  color: #10A3FA;
}

.location-txt-dot {
  font-size: 300%;
  position: relative;
  top: -13px;
}

.graph-img-container {
  margin: 0;
}

.graph {
  height: 50%;
  width: 100%;
  width: 300px;
}

hr {
  width: 45%;
}

.divider {
  align-items: center;
  background: #EDF2F6;
  background: transparent;
  display: flex;
  height:50px;
  justify-content: center;
  width:100%;
}

.divider-img {
  background-color: #FFF;
  border-radius: 50%;
  border: 1px solid #EDF2F6;
  height: 20px;
  width: 20px;
}

.divider-img:hover {
  border: 1px solid #10A3FA;
}

.side-nav-categories-img-container,
.side-nav-admin-img-container {
  display:none;
}

.description-container-unique p {
  width:90%;
}

.social-btn {
  border-radius: 2px;
  border:none;
  color:#FFF;
  height: 60px;
  margin: 10px 0;
}

.facebook-btn {
  background: #3B5998;
}

.twitter-btn {
  background: #1DA1F2;
}

.linked-btn {
  background: #0177B5;
}

.social-input-img {
  height:20px;
  width:20px;
}

.link-to-job-container {
  margin:20px 0;
}

.link-to-job-container h4{
  align-items: center;
  display: flex;
  font-size: 80%;
}

.link-to-job-container p {
  font-size: 70%;
}

.link-to-job-input-container {
  display: flex;
}

.description-container p {
  font-size: 70%;
}

.social-inputs,
.link-to-input {
  height: 30px;
  width: 80%;
}

.social-input-buttons {
  color:#FFF;
  background-color: #0099A1;
  border:none;
  width:20%;
}

.link-to-input {
  width:100%;
}

.social-img {
  align-self:;
  height:20px;
  width:20px;
}

/*Post largest cell phone Pre ipad*/
@media screen and (min-width: 550px) {

/*Main Container Items*/
  .tabs-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .tabs-container h6 {
    border: 3px solid transparent;
  }

  .tabs-container h6:hover{
    border-bottom: 3px solid #10A3FA;
    line-height: 62px;
    margin: 0;
  }

  .circle-graph-container {
    flex-direction: row;
  }

  .circle-graph-and-button-container {
    align-items: center;
    display:flex;
    flex-direction: column;
    width: 90%;
  }

  .job-title-container {
    height:200px;
  }

  .graphs-container {
    height:600px;
  }

  .graph {
    width: 400px;
  }

  .circle-graph {
    height:130px;
    width:130px;
  }

  .job-description-heading-container {
    justify-content: flex-start;
  }

  .job-description-heading-container h5 {
    margin-left: 20px;
  }

  .description-container {
    border-bottom: 1px solid #5f686f;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
  }

  .description-container h6 {
    margin-left: 20px;
  }

  .position-title-container p {
    margin-left: 60px;
  }

  .locations-container p {
    margin-left: 82px;
  }

  .employment-type-container p {
    margin-left: 35px;
  }

  .experience-container p {
    margin-left: 70px;
  }

  .status-container p {
    margin-left: 95px;
  }

  .description-container-unique p {
    margin-left: 65px;
    width:75%;
  }

  .hiring-lead-contatiner img{
    margin-left: 62px;
  }

  .hiring-lead-contatiner p{
    margin-left: 10px;
  }

  .salary-container p {
    margin-left: 40px;
  }
}

/*Ipad*/
@media screen and (min-width: 760px) {

/*Main Container Items*/
  .job-title-container {
    flex-direction: row;
    height:200px;
  }

  .customer-service-heading-container {
    height:100%;
    width:50%;
  }

  .random-button-container {
    height:100%;
    width:50%;
  }

  .circle-graph-container {
    width: 100%;
  }

  .circle-graph {
    height:130px;
    width:130px;
  }
}

/*Full browser window & Ipad Pro*/
@media screen and (min-width: 1000px) {

html,
body {
  flex-direction: row;
}

/*Side Navigation Bar Items*/
  .hamburger-container {
    display:none;
  }

  .side-nav-container {
    align-items: flex-start;
    flex-direction: column;
    height:100%;
    max-width:150px;
    min-width:150px;
  }

  .identity-container {
    height:150px;
  }

  .side-nav-main-container {
    align-items: flex-start;
    height: 20%;
  }

  .side-nav-main-img-container{
    flex-direction: row;
  }

  .side-nav-admin-container {
    align-items: flex-start;
    height:20%;
    justify-content: flex-start;
    width: 100%;
  }

  .side-nav-categories-container {
    align-items: flex-start;
    height:20%;
    justify-content: flex-start;
    width: 100%;
  }

  .categories {
  	border-radius: 3px;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  	display: inline-block;
  	padding: 9px;
  	position: relative;
    -webkit-appearance: none;
    border: none;
    margin-right: 14px;
  }

  .administrative {
    background-color: #f2e200;
  }

  .design {
    background-color: #008df1;
  }

  .executive {
    background-color: #d80000;
  }

  .human-resources {
    background-color: #007530;
  }

  lable {
    align-items:center;
    color: #bac0c4;
    display: flex;
    font-size: 70%;
  }

  .full-scale-lable {
    display: block;
    margin-top: 5px;
  }

/*Main Container Items*/
  .job-description-container {
    width: 70%;
  }

  .random-button-container {
    justify-content:flex-end;
  }

  .random-button,
  .open-button {
    margin-right: 15px;
  }

  .social-media-container {
    width:30%;
  }

  .graphs-container {
    flex-direction: row;
    height:300px;
    padding-top:40px;
  }

  .graph {
    width: 300px;
  }

  .admin-buttons,
  .category-buttons,
  .side-nav-categories-img-container,
  .side-nav-admin-img-container {
    align-items: center;
    display: flex;
  }

  .side-nav-main-container,
  .side-nav-admin-container,
  .side-nav-categories-container {
    align-items:flex-start;
    border-bottom: 1px solid #303744;
    border-top: 1px solid #303744;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
  }

  .side-nav-main-img-container,
  .side-nav-categories-img-container,
  .side-nav-admin-img-container {
    margin: 10px 0 10px 10px;
  }

  .side-nav-main-img,
  .side-nav-admin-img {
    height:15px;
    width:15px;
  }

  .main-buttons,
  .admin-buttons {
    color:#bac0c4;
    margin-left: 15px;
  }

  .main-buttons:hover,
  .admin-buttons:hover {
    color:#FFF;
  }

  .divider {
    height: 90px;
  }

  .description-container-unique p {
    width:70%;
  }

  .social-btn {
    align-items: flex-end;
    display:flex;
    margin-top:0;
  }

  .social-img {
    margin: 0 15px 0 10px;
  }

  .social-inputs {
    width: 70%;
  }

  .social-input-buttons {
    width:30%;
  }

  .circle-graph-and-button-container {
    width: 60%;
  }

  .search-container {
    display:flex;
    height:50px;
    justify-content: center;
    width:100%;
  }

  .search-input {
    width:100%;
  }

  .input-user-icon {
    background-size: cover;
    border: 1px solid grey;
    display:flex;
    height:48px;
    width:48px;
  }

  .input-user-icon:hover {
    border: 1px solid #10A3FA;
  }
}
